#title {
  background-color: #ff4c68;
  color: #fff;


}

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: 'Krona One', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Merriweather', serif;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: 'Krona One', sans-serif;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
}

.container-fluid {
      padding: 3% 15% ;
}

/* NVBAR */
.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

.nav-item {
  padding: 0 18px;
}

.navbar {
  padding: 0 0 4.5rem;
  padding-bottom: 15px;
}

.Download-button {
  margin: 5% 3% 5% 0;
}

.Q {
  width:50%;
  transform: rotate(25deg);
  position: absolute;
right: 30%;

}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-light', sans-serif;
}

/* features */
#features {
  padding: 7% 14% ;
  background-color:#fff;
  position:relative;
}

.y {
  text-align: center;
  padding:  5%;
}

.a {
  color: #ef8172;
  margin-bottom: 1rem;
}

.a:hover {
  color: #ff4c68;
}

/* testimonial */
#testimonials {

  text-align: center;
  background-color: #ef8172;
  color: #fff;

}

.g {
  width: 10%;
  margin: 20px;
  border-radius: 100%;
}
.carousel-item{
    padding: 7% 14%;
}

/* press */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
  text-align: center;
}

.press-image {
  width: 15%;
  margin: 20px 20px 50px;
}
/* pricig */
#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-col{
  padding: 3% 2%;
}
@media (max-width:1028px) {
  #title{
    text-align: center;
  }
  .Q{
    position: static;
    transform: rotate(0);
  }
}
/* vda */
#cta{

  padding:7% 15%;
  background-color: #ff4c68;
   color: #fff;
   text-align: center;
}
.cd{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height:1.5;
}
/* footer */
#footer{
  text-align: center;
padding: 7% 15%;

}
.x{

 margin: 20px 10px;

}
